alias art="php artisan"
alias cls="clear"
alias routes="php artisan route:list"
alias reload=". ~/.aliases && . ~/.functions && echo .aliases/.functions reloaded!"
alias nuclear-option="php artisan config:clear && php artisan cache:clear && php artisan clear-compiled  && php artisan route:clear && php artisan view:clear && composer dump-autoload"
# you might also need `php artisan permission:cache-reset`

alias composer="php -d memory_limit=-1 /usr/local/bin/composer"

for dir in ~/web/*; do
    if [ -d "$dir" ]; then
        alias "$(basename -- $dir)"="cd $dir";
    fi
done
