[url "git@github.com:"]
    insteadOf = https://github.com/
[user]
	email = 95nandi95@gmail.com
	name = Nandor Kraszlan
	signingKey = ""
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
[gpg]
	program = /usr/local/bin/gpg
